.App {
    display: grid;
    height: 100vh;
    place-content: center;
    background-color: #0047BB;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: #fff;
}

h2,
p {
    margin: 0;
}

.diagram-component {
    width: 80vw;
    height: 80vh;
    border: solid 1px black;
    background-color: white;
}

.dropdown {
    width: 100px;
    height: 30px;
    border: 1px solid gray;
}